{% extends '../base.html'%}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'hub/css/videos.css' %}" type="text/css">
<style>
    .btn-primary {
        --bs-btn-hover-bg: #884A9D;
        --bs-btn-bg: #9C68AD;
        --bs-btn-border-color: #9C68AD;
        --bs-btn-hover-border-color: #884A9D;
    }
    .container-fluid {
        background-color: #121212;
        color: white;
    }
    .card {
        background-color: #211E2B;
    }

</style>

<div class="container-fluid space-up">
    <div class="row">
    {% for video in videos_list %}
    <div class="col-lg-2 col-md-4 center-cards">
        <div class="card custom-card" style="width: 18rem;">
            <img class="card-img-top img-height" src="{{ video.thumbnail.url }}" />
            <div class="card-body">
                <h5 class="card-title card-text-wrap">{{video.title}}</h5>
                <p class="card-text card-text-wrap">{{video.description}}</p>
                <a href="{% url 'video_detail' video.id %}" class="btn btn-primary">Watch Now </a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}