{% extends './base.html'%}
{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'hub/css/index.css' %}" type="text/css">
<style>
    .btn-primary {
        --bs-btn-hover-bg: #884A9D;
        --bs-btn-bg: #9C68AD;
        --bs-btn-border-color: #9C68AD;
        --bs-btn-hover-border-color: #884A9D;
    }

    .container-fluid {
        background-color: #121212;
        color: white;
    }
    .card {
        background-color: #211E2B;
    }
</style>
<body>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    </div>
    <div class="carousel-inner">
        {% for video in publicVideos%}
        {% if forloop.counter0 == 0%}
            <div class="carousel-item active">
                <img class="d-block w-100 banner-height" src="{{video.banner.url}}" alt="0"/>
            </div>
        {% else %}
            <div class="carousel-item">
                <img class="d-block w-100 banner-height" src="{{video.banner.url}}" alt="{{forloop.counter0}}"/>
            </div>
        {% endif %}
    {% endfor%}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container-fluid mb-4">
        <div class="row"> 
            <h1 class="display-6 mt-4">You should try</h1>
        </div>
        <div class="row">
            {% for video in publicVideos%}
                {% if video.isUnlisted == False%}
                <div class="col-lg-2 center-cards">
                    <div class="card" style="width: 18rem;">
                        <img src="{{video.thumbnail.url}}" class="card-img-top img-height" alt="{{video.title}} thumbnail"/>
                        <div class="card-body"> 
                            <h5 class="card-title card-text-wrap">{{video.title}}</h5>
                            <a href="{% url 'video_detail' video.id %}" class="btn btn-primary">Watch Now</a>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if user.is_authenticated %}
            {% for producer in producers%}
            <div class="row"> 
                <h1 class="display-6 mt-4">More from {{producer.username}}</h1>
            </div>
            <div class="row">
                {% for video in producer.video_set.all%}
                    {% if video.isPublic == True and video.isUnlisted == False%}
                        <div class="col-lg-2 center-cards">
                            <div class="card" style="width: 18rem;">
                                <img src="{{video.thumbnail.url}}" class="card-img-top img-height" alt="{{video.title}} thumbnail"/>
                                <div class="card-body"> 
                                    <h5 class="card-title card-text-wrap">{{video.title}}</h5>
                                    <a href="{% url 'video_detail' video.id %}" class="btn btn-primary">Watch Now </a>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        {% endif %}
</div>
{% endblock %}
