.custom-container {
    height: 450px;
}
.banner {
    z-index: -1;
    width: 100vw;
    height: 300px;
}

.pfp-username-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin-top: -20%;
    margin-left: 20px;
}

.pfp {
    max-width: 256px;
    max-height: 256px;
    object-fit: cover;
}

.pfp-thumbnail {
    height: 32px;
    width: 32px;
}

.username-label{
    text-shadow: 1px 1px 2px #fff, 0 0 1em #000, 0 0 0.2em #000;
    color: white;
}

.space-up {
    margin-top: 80px;
}


.img-height{
    height: 170px;
    object-fit: cover;
}

.card-text-wrap {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 80px;
}

@media only screen and (min-width: 992px) {
    .banner {
        z-index: -1;
        width: 100vw;
        height: 450px;
        object-fit: cover;
    }

    .pfp {
        width: 256px;
        height: 256px;
        object-fit: cover;
    }

    .pfp-username-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        margin-top: -300px;
    }

    .username-label{
        margin-left: 20px;
    }
}