h4 {
    color:gray
}

@media only screen and (min-width: 992px) {
    #username {
        width: 10%;
    }
    
    #password {
        width: 15%;
    }
    
    #email {
        width: 15%;
    }
    
    #fullname {
        width: 15%;
    }
    .image-input {
        width: 40%; 
    }
}

