{% extends '../base.html'%}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'hub/css/userforms.css' %}" type="text/css">

<style>
  .btn-primary {
  --bs-btn-hover-bg: #884A9D;
  --bs-btn-bg: #9C68AD;
  --bs-btn-border-color: #9C68AD;
  --bs-btn-hover-border-color: #884A9D;
}
</style>

<div class="container-fluid">
    <h4 class="mt-3" style="color: white;">Login to your account!</h4>
    <hr style="color: #B086BE;">
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control"  id="username" name="username" placeholder="Create A Username (use only letters and numbers)" Required>
          </div>
          <div class="mb-3">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Create Password" autocomplete="off" value="">
          </div>
          <button type="submit" class="btn btn-primary">Log In</button>
    </form>
</div>
{% endblock content %}